unpackage/dist/dev/mp-weixin/app.js
unpackage/dist/dev/mp-weixin/app.json
unpackage/dist/dev/mp-weixin/App.wxml
unpackage/dist/dev/mp-weixin/app.wxss
unpackage/dist/dev/mp-weixin/App2.js
unpackage/dist/dev/mp-weixin/infoCard.js
unpackage/dist/dev/mp-weixin/main.js
unpackage/dist/dev/mp-weixin/project.config.json
unpackage/dist/dev/mp-weixin/api/loginAndRegister.js
unpackage/dist/dev/mp-weixin/common/vendor.js
unpackage/dist/dev/mp-weixin/component/infoCard.js
unpackage/dist/dev/mp-weixin/component/infoCard.json
unpackage/dist/dev/mp-weixin/component/infoCard.wxml
unpackage/dist/dev/mp-weixin/component/infoCard.wxss
unpackage/dist/dev/mp-weixin/component/infoCard2.js
unpackage/dist/dev/mp-weixin/pages/dashboard.js
unpackage/dist/dev/mp-weixin/pages/dashboard.json
unpackage/dist/dev/mp-weixin/pages/dashboard.wxml
unpackage/dist/dev/mp-weixin/pages/dashboard.wxss
unpackage/dist/dev/mp-weixin/pages/home.js
unpackage/dist/dev/mp-weixin/pages/home.json
unpackage/dist/dev/mp-weixin/pages/home.wxml
unpackage/dist/dev/mp-weixin/pages/home.wxss
unpackage/dist/dev/mp-weixin/pages/index.js
unpackage/dist/dev/mp-weixin/pages/index.json
unpackage/dist/dev/mp-weixin/pages/index.wxml
unpackage/dist/dev/mp-weixin/pages/index.wxss
unpackage/dist/dev/mp-weixin/pages/mine.js
unpackage/dist/dev/mp-weixin/pages/mine.json
unpackage/dist/dev/mp-weixin/pages/mine.wxml
unpackage/dist/dev/mp-weixin/pages/mine.wxss
unpackage/dist/dev/mp-weixin/pages/review.js
unpackage/dist/dev/mp-weixin/pages/review.json
unpackage/dist/dev/mp-weixin/pages/review.wxml
unpackage/dist/dev/mp-weixin/pages/review.wxss
unpackage/dist/dev/mp-weixin/pages/word.js
unpackage/dist/dev/mp-weixin/pages/word.json
unpackage/dist/dev/mp-weixin/pages/word.wxml
unpackage/dist/dev/mp-weixin/pages/word.wxss
unpackage/dist/dev/mp-weixin/pages/index/index.js
unpackage/dist/dev/mp-weixin/pages/index/index.json
unpackage/dist/dev/mp-weixin/static/icons/dashboard-selected.png
unpackage/dist/dev/mp-weixin/static/icons/dashboard.png
unpackage/dist/dev/mp-weixin/static/icons/home-selected.png
unpackage/dist/dev/mp-weixin/static/icons/home.png
unpackage/dist/dev/mp-weixin/static/icons/mine.png
unpackage/dist/dev/mp-weixin/utils/axios.js
node_modules
